:root {
    --text-color: #eef2ff;
    --bg-color: #0a0c10;
    --bg-color-card: #111418;
    --border-color: #252a33;

    --font: system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue';
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font), sans-serif;
}

body {
    box-sizing: border-box;
    padding: 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto
}

h1, h3 {
    margin: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.7rem;
}

.project-list {
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    border-radius:1.5rem;
    border: 1px solid var(--border-color);
    overflow: hidden;
    user-select: none;
}

.card-header {
    padding: 1.2rem 1.5rem;
    background-color: #0f1217;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header:hover {
    background-color: #13171e;
}

.icon {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.icon.open {
    transform: rotate(90deg);
}

.card-footer {
    display: flex;
    place-content: center;
    padding: 1rem 1.5rem;
}

.tasks-container {
    opacity: 0;
    max-height: 0;
    transform: translateY(-6px);

    transition: opacity 0.2s ease, max-height 0.35s, transform 0.25s ease;
    transition-delay: 2s;
}

.tasks-container.open {
    opacity: 1;
    max-height: 1000px;
    transform: translateY(0);
}

.task-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1.5rem;
    border-bottom: 1px solid var(--border-color);
}

.task-item.completed {
    color: #6a7a95;
}
